@using Microsoft.AspNetCore.Mvc.ModelBinding
@model UpsertProductViewModel;

<form asp-action="Upsert" enctype="multipart/form-data">
    <div class="" asp-validation-summary="All"></div>
    <div class="border p-3 mt-4">
        <div class="mb-2">
            <h2> @(Model.Id == 0 ? "Create" : "Edit") Product</h2>
            <hr />
        </div>

        @if (Model.Id != 0)
        {
            <div class="mt-2 mb-4">
                <img src="@Model.ImageUrl" alt="" class="img-thumbnail"
                 style="height: 200px; width: 200px; object-fit: cover;">
            </div>
        }

        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title"
                   class="form-control">
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ISBN" class="form-label"></label>
            <input asp-for="ISBN"
                   class="form-control">
            <span class="text-danger" asp-validation-for="ISBN"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Author" class="form-label"></label>
            <input asp-for="Author"
                   class="form-control">
            <span class="text-danger" asp-validation-for="Author"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ListPrice" class="form-label"></label>
            <input type="number" asp-for="ListPrice"
                   class="form-control">
            <span class="text-danger" asp-validation-for="ListPrice"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label"></label>
            <input type="number" asp-for="Price"
                   class="form-control">
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price50" class="form-label"></label>
            <input type="number" asp-for="Price50"
                   class="form-control">
            <span class="text-danger" asp-validation-for="Price50"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price100" class="form-label"></label>
            <input type="number" asp-for="Price100"
                   class="form-control">
            <span class="text-danger" asp-validation-for="Price100"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Product Image</label>
            <input type="file" name="formFile" class="form-control" id="uploadBox">
        </div>
        <div class="mb-3">
            <label asp-for="CategoryId" class="form-label"></label>
            <select asp-items="@Model.CategoriesSelectList" asp-for="CategoryId" class="form-control">
                @if (Model.Id == 0)
                {
                    <option disabled selected>--Select Category--</option>
                }
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CoverTypeId" class="form-label"></label>
            <select asp-items="@Model.CoverTypesSelectList" asp-for="CoverTypeId" class="form-control">
                @if (Model.Id == 0)
                {
                    <option disabled selected>--Select Cover Type--</option>
                }
            </select>
            <span asp-validation-for="CoverTypeId" class="text-danger"></span>
        </div>
        @if (Model.Id == 0)
        {
            <button class="btn btn-warning me-3" onclick="return ValidateInput()">Create Product</button>
        }
        else
        {
            <button class="btn btn-warning me-3">Edit Product</button>
        }
        <a asp-action="Index" class="btn btn-outline-primary">Back</a>
    </div>
</form>


@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
            toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
            toolbar_mode: 'floating',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
        });


        function ValidateInput() {
            if (document.getElementById("uploadBox").value === "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an Image!',
                });
                return false;
            }
            return true;
        }
    </script>
}