@using Microsoft.AspNetCore.Mvc.ModelBinding
@model CoverType

@{
    ViewData["Title"] = "Edit";

    var nameStatus = ViewData.ModelState.GetFieldValidationState("Name") switch
    {
        ModelValidationState.Valid => "is-valid",
        ModelValidationState.Invalid => "is-invalid",
        _ => string.Empty
    };
}

<form asp-action="Edit">
    <div class="" asp-validation-summary="ModelOnly"></div>
    <div class="border p-3 mt-4">
        <div class="mb-2">
            <h2>Edit Cover Type</h2>
            <hr />
        </div>
        <input type="hidden" asp-for="Id">
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name"
                   class="form-control @nameStatus">
            <span class="" asp-validation-for="Name"></span>
        </div>
        <button class="btn btn-warning me-3">Edit</button>
        <a asp-action="Index" class="btn btn-outline-primary">Back</a>
    </div>
</form>


@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }