@using Microsoft.AspNetCore.Mvc.ModelBinding
@model Category

@{
    ViewData["Title"] = "Create";
    // var nameStatus = ViewData.ModelState.GetFieldValidationState("Name") == ModelValidationState.Invalid ? "is-invalid" : "";

    var nameStatus = ViewData.ModelState.GetFieldValidationState("Name") switch
    {
        ModelValidationState.Valid => "is-valid",
        ModelValidationState.Invalid => "is-invalid",
        _ => string.Empty
        };
    
    var displayOrderStatus = ViewData.ModelState.GetFieldValidationState("DisplayOrder") switch
    {
        ModelValidationState.Valid => "is-valid",
        ModelValidationState.Invalid => "is-invalid",
        _ => string.Empty
        };
}
<form asp-action="Create">
    <div class="" asp-validation-summary="All"></div>
    <div class="border p-3 mt-4">
        <div class="mb-2">
            <h2>Create Category</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name"
                   class="form-control @nameStatus">
            <span class="" asp-validation-for="Name"></span>
        </div>
        <div class="mb-4">
            <label asp-for="DisplayOrder" class="form-label"></label>
            <input asp-for="DisplayOrder" class="form-control @displayOrderStatus">
            <span class="" asp-validation-for="DisplayOrder"></span>
        </div>

        <button class="btn btn-primary me-3">Create</button>
        <a asp-action="Index" class="btn btn-outline-primary">Back</a>
    </div>
</form>


@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
